---
interface Props {
    title: string;
    desc: string;
    category: string;
    imageSrc: string;
    imageDesc: string;
    postSlug: string;
}

const {
    title,
    desc,
    category,
    imageSrc,
    imageDesc,
    postSlug
} = Astro.props as Props;
---


<div class="card w-96 bg-base-100 shadow-xl my-11 mx-auto md:m-auto">
  <figure><img src={imageSrc} alt={imageDesc} /></figure>
  <div class="card-body">
    <h2 class="card-title">{title}</h2>
    <p>
      {desc}
    </p>
    <div class="badge badge-outline justify-start">{category}</div>
    <div>
      <div class="card-actions justify-end">
        <a href={`/posts/${postSlug}`} class="btn btn-primary">Read Now</a>
      </div>
    </div>
  </div>
</div>